# datafile
*.npy
*.jpg
*.png
*.pyc
ml_main.py 
test.py
testtest.py
dddddd.py
example.json
test2.json
*.pt
*.STL
*.zip
*.pth

#envireoment
.venv
.env
venv/
ENV/
env.bak/
venv.bak/

.vscode
ml_config/
ml_data/
ml_model/
old_engine/
log/
